<section>
    <!-- <div class="card">
        <div class="card-body"> -->
            <div class="row add-padding">
                <div class="col-sm-12">
                    <div class="card budget-cls">
                        <div class="card-body">
                            <h6 class="card-title card-title-cls">Operation & Maintenance</h6>
                            <div echarts [options]="chartOption" style="height: 500px;" class="demo-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div> -->
</section>
