<section>
    <div class="container" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-10 col-md-10 heading-cls"> <span>RoW Creation</span></div>
        </div>
    </div>
</section>
<section id="main-section">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="projectFormGroup" >
                <ng-template matStepLabel>Field Details</ng-template>
                <app-multi-select class="property-form" [label]="'Approval Authority'" [placeholder]="'Select Approval Authority'" [optionList]="authorityList" formControlName="authorities" [style]="'width:100%;'"></app-multi-select>
                <div>
                    <mat-slide-toggle formControlName="isAppliedAtNH" style="width:30%;">Approval applied at NH</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Date of Application'" [placeholder]="'Enter Date of Application'" formControlName="dateOfApplication" [style]="'width:35%;'"></app-date-picker>
                    <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Standard time for approval(Days)'" [placeholder]="'Enter Standard time for approval(Days)'" [style]="'width:35%;'" formControlName="timeForApproval"></app-text-field>
                    <mat-slide-toggle formControlName="isApprovalAcceptedNH" style="width:30%;">Approval accepted at NH</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Application Accepted Date'" [placeholder]="'Enter Application Accepted Date'" formControlName="applicationAcceptedDateNH" [style]="'width:35%;'"></app-date-picker>

                </div>

                <div>
                    <mat-slide-toggle formControlName="isAppliedAtWildlife" style="width:30%;">Approval applied at Wildlife</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Date of Application'" [placeholder]="'Enter Date of Application'" formControlName="dateOfApplicationWildLife" [style]="'width:35%;'"></app-date-picker>
                    <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Standard time for approval(Days)'" [placeholder]="'Enter Standard time for approval(Days)'" formControlName="timeForApprovalWildlife" [style]="'width:35%;'"></app-text-field>
                    <mat-slide-toggle formControlName="isApprovalAcceptedWildlife" style="width:30%;">Approval accepted at Wildlife</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Application Accepted Date'" [placeholder]="'Enter Application Accepted Date'" formControlName="applicationAcceptedDateWildLife" [style]="'width:35%;'"></app-date-picker>

                </div>
                
                <div>
                    <mat-slide-toggle formControlName="isAppliedAtForest" style="width:30%;">Approval applied at Forest</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Date of Application'" [placeholder]="'Enter Date of Application'" formControlName="dateOfApplicationForest" [style]="'width:35%;'"></app-date-picker>
                    <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Standard time for approval(Days)'" [placeholder]="'Enter Standard time for approval(Days)'" formControlName="timeForApprovalForest" [style]="'width:35%;'"></app-text-field>
                    <mat-slide-toggle formControlName="isApprovalAcceptedForest" style="width:30%;">Approval accepted at Forest</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Application Accepted Date'" [placeholder]="'Enter Application Accepted Date'" formControlName="applicationAcceptedDateForest" [style]="'width:35%;'"></app-date-picker>

                </div>

                <div>
                    <mat-slide-toggle formControlName="isAppliedAtPWD" style="width:30%;">Approval applied at PWD</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Date of Application'" [placeholder]="'Enter Date of Application'" formControlName="dateOfApplicationPWD" [style]="'width:35%;'"></app-date-picker>
                    <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Standard time for approval(Days)'" [placeholder]="'Enter Standard time for approval(Days)'" formControlName="timeForApprovalPWD" [style]="'width:35%;'"></app-text-field>
                    <mat-slide-toggle formControlName="isApprovalAcceptedPWD" style="width:30%;">Approval accepted at PWD</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Application Accepted Date'" [placeholder]="'Enter Application Accepted Date'" formControlName="applicationAcceptedDatePWD" [style]="'width:35%;'"></app-date-picker>

                </div>

                <div>
                    <mat-slide-toggle formControlName="isAppliedAtRailways" style="width:30%;">Approval applied at Railways</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Date of Application'" [placeholder]="'Enter Date of Application'" formControlName="dateOfApplicationRailways" [style]="'width:35%;'"></app-date-picker>
                    <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Standard time for approval(Days)'" [placeholder]="'Enter Standard time for approval(Days)'" formControlName="timeForApprovalRailways" [style]="'width:35%;'"></app-text-field>
                    <mat-slide-toggle formControlName="isApprovalAcceptedRailways" style="width:30%;">Approval accepted at Railways</mat-slide-toggle>
                    <app-date-picker class="property-form" [label]="'Application Accepted Date'" [placeholder]="'Enter Application Accepted Date'" formControlName="applicationAcceptedDateRailways" [style]="'width:35%;'"></app-date-picker>

                </div>
                
                
                
                
                <div style="height:30px;"></div>
                <div class="form-group row" style="margin-top:30px;">
                    <label for="filename1" class="col-sm-4 col-form-label" style="width:30%;">RoW Certificate from concerned Line Department </label>
                    <div class="col-sm-6" style="width:35%;">
                        <input type="text" name="filename1" class="form-control" [ngClass]="{'error_class': submitted && projectFormGroup.controls.rowCertificate.errors?.required}" formControlName="rowCertificate" placeholder="No file selected" readonly>
                        <mat-error *ngIf="submitted && projectFormGroup.controls.rowCertificate.errors?.required">
                            This field is <strong>required</strong>
                        </mat-error>
                          <!-- <span class="select-file-txt btn btn-outline-secondary">Select a file</span> -->
                    </div>
                    <span  class="col-sm-2 input-group-btn" style="width:35%;">
                        <div class="btn btn-outline-secondary custom-file-uploader">
                            Select a file
                          <input type="file" name="file" (change)="onUploadRowCertificate($event)" />
                          
                        </div>
                    </span>
                </div>
                <div>
    
                    <app-button [text]="'Submit'" [btnId]="'primary'" (click)="onSubmitDnD()" [type]="'submit'" [style]="'float:right;'"></app-button>
                    <app-button [text]="'Save as draft'" [btnId]="'secondary'" (click)="onSaveDnD()" [type]="'submit'" [style]="'float:right;margin-right:10px;'"></app-button>

                </div>
            </form>
        </div>
        
    </div>
</section>