
.budget-cls {
    /* text-align: center; */
    height: 100%;
    /* padding-top: 8%; */
}
.utilization-cls {
    position: relative;
    top: 80px;
    text-align: center;
}
.vertical-line {
    border-left: 1px solid #0f0f0f;
    height: 50px;
    position: absolute;
    top: 0;
    left: 100%;
}

.bold {
    font-weight: 500;
    color: #01458e;
}
.add-padding {
    padding: 10px 0 0px 0;
}

.download-file {
    color: #0c5ac8;
}
.download-file i {
    float: right;
    cursor: pointer;
}

.progress-percent {
    display: inline-block;
    position: absolute;
    top: 40px;
    color: #01458e;
}
.progress-totalamnt {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 10px;
    color: #01458e;
}
/* .card {
    background-color: #272953;
    color: #fff;
} */

.table-h {
    background-color: #90b7f6;
}
.yes-cls {
    color: green;
}
.no-cls {
    color: gray;
}
.dd-status-cls table {
    border: white;
}
.row-status-cls td {
    padding: 3px 10px !important;
}

.project-report-cls .col-sm-2{
    width: 20% !important;
}

.div-1 {
    min-height: 90px;
    width: 90px;
    border: 1px solid;
    border-radius: 15px;
    background: #72716f;
    box-shadow: 0px 0px 0px 1px #72716f;
    position: absolute;
    top: 30px;
    left: 50px;
}
.div-2 {
    width: 50px;
    height: 50px;
    background: #bb0808;
    border-radius: 56%;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0px 0px 3px 3px;
}
.total-m-cls {
    /* position: absolute;
    left: 40%; */
    font-size: 15px;
    font-weight: 600;
    color: #01458e;
}

.bottom-txt {
    position: absolute;
    bottom: 15px;
    left: 40px;
}

.cl-12 {
    display: inline-flex;
 }

 .cl-12 p {
    font-size: 14px;
 }

 .cl-12 p .p-cl-1{
    color:#bb0808;
    font-style: italic;
 }

 .p-cl-2{
    color:#bb0808; 
    font-size: 20px;
    font-weight: 600;

 }
 .p-cl-21 {
    color:#01458e; 
    font-size: 20px;
    font-weight: 600;
 }