<div >
<div class="container">
    <div class="label-header">
        <h5 class="title-cls">Project Dashboard</h5>
    </div>
    <div class="row add-padding">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title card-title-cls">Project Name</h6>
                    <div>
                        {{projectData?.projectName}}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    Project Type
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.projectType}}
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    Project Start Date
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.projectStartDate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row add-padding">
                                <div class="col-sm-6">
                                    Project End Date
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.projectEndDate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row add-padding">
                                <div class="col-sm-6">
                                    Project Value
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.projectValue}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row add-padding">
                                <div class="col-sm-6">
                                    Circle
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.circle}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row add-padding">
                                <div class="col-sm-6">
                                    Division
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.division}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row add-padding">
                                <div class="col-sm-6">
                                    Executing Agency
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.executingAgency}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row add-padding">
                                <div class="col-sm-6">
                                    Registered Address
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.registeredAddress}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row add-padding">
                                <div class="col-sm-6">
                                    Contact person
                                </div>
                                <div class="col-sm-6 bold">
                                    {{projectData?.contactPerson}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row add-padding">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title card-title-cls">D&D Status</h6>
                    <div class="dd-status-cls row-status-cls">
                        <table>
                            <tr>
                              <th></th>
                              <th>Approved</th>
                            </tr>
                            <tr>
                              <td>GAD</td>
                              <td><mat-icon class="yes-cls">check_circle</mat-icon></td>
                            </tr>
                            <tr>
                              <td>HFD</td>
                              <td><mat-icon class="yes-cls">check_circle</mat-icon></td>
                            </tr>
                            <tr>
                              <td>Structural Design</td>
                              <td><mat-icon class="yes-cls">check_circle</mat-icon></td>
                            </tr>
                            
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title card-title-cls">RoW Status</h6>
                    <div class="dd-status-cls row-status-cls">
                        <table>
                            <tr>
                                <th>RoW Authority Name</th>
                              <th>Approval status</th>
                            </tr>
                            <tr *ngFor="let authority of selectedAuthority">
                              <td>{{authority}}</td>
                              <td><mat-icon class="yes-cls">check_circle</mat-icon></td>
                              
                            </tr>
                          </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row add-padding project-report-cls">
        <div class="col-sm-2 ">
            <div class="card budget-cls">
                <div class="card-body">
                    <div class="div-1">
                        <div class="div-2">
                            
                        </div>
                    </div>
                    <div  class="bottom-txt">
                        Project Status
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card budget-cls" (click)="openModal('totalMilestone')">
                <div class="card-body">
                    <div class="total-m-cls">9</div>
                    <div class="bottom-txt" >Total Milestone</div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card budget-cls" (click)="openModal('completeMilestone')">
                <div class="card-body">
                    <div echarts [options]="completeMilestone" style="height: 150px;" class="demo-chart"></div>
                    <div>
                        Completed Milestone
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card budget-cls" (click)="openModal('inProgressMilestone')">
                <div class="card-body">
                    <div echarts [options]="inProgressMilestone" style="height: 150px;" class="demo-chart"></div>
                    <div>
                        In Progress Milestone
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card budget-cls" (click)="openModal('pendingMilestone')">
                <div class="card-body">
                    
                    <div echarts [options]="pendingMilestone" style="height: 150px;" class="demo-chart"></div>
                    <div>
                        Pending Milestone
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row add-padding">
        <!-- <div class="col-sm-6">
            <div class="card budget-cls">
                <div class="card-body">
                    <h6 class="card-title card-title-cls">Project wise physical progress</h6>
                    <div echarts [options]="chartOption3" style="height: 280px;" class="demo-chart"></div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-sm-6">
            <div class="card budget-cls">
                <div class="card-body">
                    <h6 class="card-title card-title-cls">Milestone Details</h6>
                    <div echarts [options]="chartOption3_N" style="height: 280px;" class="demo-chart"></div>
                </div>
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title card-title-cls">Progress vs Time utilization</h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <div echarts [options]="gaugeOption1" style="height: 280px;" class="demo-chart"></div>
                        </div>
                        <div class="col-sm-6">
                            <div echarts [options]="gaugeOption2" style="height: 280px;" class="demo-chart"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card budget-cls">
                <div class="card-body">
                    <h6 class="card-title card-title-cls">Project wise financial progress</h6>
                    <div class="row">
                        <div class="col-sm-12">
                            <div echarts [options]="chartOption2" style="height: 230px;" class="demo-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div class="modal" id="myPropertyModal" style="background: rgba(0, 0, 0, 0.7);" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">{{modalTitle}}</h3>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <!-- totalMilestoneModal body -->
            <div *ngIf="totalMilestoneModal">
                <ag-grid-angular
                style="width: 100%; height: 100%;"
                class="ag-theme-alpine"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [autoGroupColumnDef]="autoGroupColumnDef"
                [rowData]="rowData"
                [treeData]="true"
                [animateRows]="true"
                [groupDefaultExpanded]="groupDefaultExpanded"
                [getDataPath]="getDataPath"
                (gridReady)="onGridReady($event)"
                ></ag-grid-angular>
            </div>
            <!-- completeMilestoneModal body -->
            <div *ngIf="completeMilestoneModal" class="row">
                <div class="col-sm-12">
                    <div class="card budget-cls">
                        <div class="card-body">
                            <!-- <h6 class="card-title card-title-cls">Milestone Details</h6> -->
                            <div echarts [options]="chartOption3_N" style="height: 280px;" class="demo-chart"></div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- inProgressMilestoneModal body -->
             <div *ngIf="inProgressMilestoneModal" class="row">
                <div class="col-sm-12">
                    <div class="card budget-cls">
                        <div class="card-body">
                            <!-- <h6 class="card-title card-title-cls">Milestone Details</h6> -->
                            <div echarts [options]="chartOption3_N" style="height: 280px;" class="demo-chart"></div>
                        </div>
                    </div>
                </div>

             </div>

             <!-- pendingMilestoneModal body -->
             <div *ngIf="pendingMilestoneModal" class="row">
                <div class="col-sm-12">
                    <div class="card budget-cls">
                        <div class="card-body">
                            <!-- <h6 class="card-title card-title-cls">Milestone Details</h6> -->
                            <div echarts [options]="chartOption3_N" style="height: 280px;" class="demo-chart"></div>
                        </div>
                    </div>
                </div>

             </div>
            
        </div>
      </div>
    </div>
  </div>