<section>
    <h1 mat-dialog-title>{{data?.title}}</h1>
    <div mat-dialog-content *ngIf="data && data.component">
        <div>
            <form [formGroup]="misForm" (ngSubmit)="onSubmitForm($event)">
                <app-select-search class="property-form" [label]="'Cost Type'" [placeholder]="'Select Cost Type'" [optionList]="costTypeList" formControlName="costType" [style]="'width:100%;'"
                (onChangeValue)="onChangeCostType($event)"></app-select-search>

                <app-select-search class="property-form" [label]="'Cost Head'" [placeholder]="'Select Cost Head'"
                    [optionList]="costHeadList" formControlName="costHead" [style]="'width:100%;'"></app-select-search>
                
                <app-text-field class="property-form" [label]="'Percentage'" [placeholder]="'Enter Percentage'"
                    formControlName="percentage" [maxlength]="100" (change)="onChangePercentage()" [isReadOnly]="isPercentage?'false':'true'"></app-text-field>
                <app-text-field class="property-form" [label]="'Cost'" [placeholder]="''"
                    formControlName="cost" [maxlength]="100" [isReadOnly]="isPercentage?'true':'false'"></app-text-field>
                <app-text-area class="property-form" [label]="'Comments'" [placeholder]="'Enter Comments'"
                    formControlName="comments" [style]="'width:100%'"></app-text-area>
                

                    
                <app-button class="lgf-btn" [type]="'submit'" value="Submit" [text]="'Add'" [btnId]="'primary'"
                    [style]="'position: absolute;bottom: 10px;z-index: 9;right: 15px;'"></app-button>
    
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <!-- <button mat-button mat-dialog-close>Close</button> -->
        <app-button mat-button mat-dialog-close class="lgf-btn" [type]="'submit'" value="Close" [text]="'Close'"
            [btnId]="'warn'" [style]="'position: absolute;bottom: 10px;right: 12%;'"></app-button>

    </div>
    
</section>