<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 
        <span [style.paddingLeft.px]="40"> Name </span>--{{isClisked}}
      </th>
      <td mat-cell *matCellDef="let data"> 
        <button mat-icon-button 
                [style.visibility]="!data.expandable ? 'hidden' : ''"
                [style.marginLeft.px]="data.level * 32"
                (click)="treeControl.toggle(data)">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
  
        {{data.name}}
      </td>
    </ng-container> 
  
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count </th>
      <td mat-cell *matCellDef="let data"> {{data.count}} </td>
    </ng-container> 
    <ng-container matColumnDef="qnty">
        <th mat-header-cell *matHeaderCellDef> Qnty </th>
        <td mat-cell *matCellDef="let data"> {{data?.qnty}} </td>
    </ng-container>
    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unit </th>
        <td mat-cell *matCellDef="let data"> {{data?.unit}} </td>
    </ng-container>
    <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let data"> {{data?.rate}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let data"> {{data?.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td  mat-cell *matCellDef="let data">
            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                *ngIf="data?.action" matTooltip="Edit" color="primary" (click)="onEdit(data)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                *ngIf="data?.action" matTooltip="Edit" color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>