.title-cls {
    color: #000;
    font-weight: 600;
}
.label-header {
    background: #a1c1e1;
    text-align: center;
    padding: 1px;
    border-radius: 3px;
}
.budget-cls {
    /* text-align: center; */
    height: 100%;
    /* padding-top: 8%; */
}
.utilization-cls {
    position: relative;
    top: 80px;
    text-align: center;
}
.vertical-line {
    border-left: 1px solid #0f0f0f;
    height: 50px;
    position: absolute;
    top: 0;
    left: 100%;
}

.bold {
    font-weight: 500;
    color: #01458e;
}
.add-padding {
    padding: 10px 0 0px 0;
}

.card-title-cls {
    /* color: #fff; */
    font-weight: 600;
}
.download-file {
    color: #0c5ac8;
}
.download-file i {
    float: right;
    cursor: pointer;
}

.progress-percent {
    display: inline-block;
    position: absolute;
    top: 40px;
    color: #01458e;
}
.progress-totalamnt {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 10px;
    color: #01458e;
}
/* .card {
    background-color: #272953;
    color: #fff;
} */

.table-h {
    background-color: #f8f8f8;
}
