<div >
    <div class="container">
        <div class="label-header">
            <h5 class="title-cls">Contractor Dashboard</h5>
        </div>
        <div class="row add-padding">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title card-title-cls">Project Name</h6>
                        <div>
                            {{projectData?.projectName}}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Project Type
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.projectType}}
                                    </div>
                                </div>
    
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Project Start Date
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.projectStartDate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Project End Date
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.projectEndDate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Project Value
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.projectValue}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Circle
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.circle}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Division
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.division}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Executing Agency
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.executingAgency}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Registered Address
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.registeredAddress}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Contact person
                                    </div>
                                    <div class="col-sm-6 bold">
                                        {{projectData?.contactPerson}}
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row add-padding">
            <div class="col-sm-6">
                <div class="card budget-cls">
                    <div class="card-body">
                        <h6 class="card-title card-title-cls">Milestone Details</h6>
                        <div echarts [options]="chartOption3" style="height: 280px;" class="demo-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card budget-cls">
                    <div class="card-body">
                        <h6 class="card-title card-title-cls">Cost Utilization</h6>
                        <div class="row">
                            <div class="col-sm-4 utilization-cls">
                                <div>
                                    <span class="bold">180Cr</span>
                                </div>
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 19.09%; background: #00D1FF;" aria-valuenow="19.09" aria-valuemin="0" aria-valuemax="100">
                                            <span class="progress-percent">19.09%</span> 
                                            <span class="progress-totalamnt">943Cr</span> 
                                        </div>
                                      </div>
                                </div>
                                <!-- <div class="vertical-line"></div> -->
                            </div>
    
                            <div class="col-sm-8">
                                <div echarts [options]="chartOption2" style="height: 230px;" class="demo-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row add-padding">
            <div class="col-sm-6">
                <div class="card budget-cls">
                    <div class="card-body">
                        <h6 class="card-title card-title-cls">Road details</h6>
                        <div class="row add-padding">
                            <!-- <div class="col-sm-6">
                                Road length in the project (km)
                            </div>
                            <div class="col-sm-6 bold">
                                2.5
                            </div> -->
                            <div class="col-sm-12">
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Name
                                    </div>
                                    <div class="col-sm-6 bold">
                                        GS Road
                                    </div>
                                </div>
                                <div class="row add-padding">
                                    <div class="col-sm-6">
                                        Road length in the project (km)
                                    </div>
                                    <div class="col-sm-6 bold">
                                        2.5
                                    </div>
                                </div>
                                
    
                                <table>
                                    <thead class="add-padding" style="display: inline-block">Chainage details:</thead>
                                    <tr class="table-h">
                                        <th style="width: 50%;">From (km)</th>
                                        <th>To (km)</th>
                                    </tr>
                                    <tr>
                                        <td>ch 1</td>
                                        <td>ch 2.5</td>
                                    </tr>
                                    <tr>
                                        <td>ch 3.5</td>
                                        <td>ch 4.5</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title card-title-cls">Progress vs Time utilization</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <div echarts [options]="gaugeOption1" style="height: 280px;" class="demo-chart"></div>
                            </div>
                            <div class="col-sm-6">
                                <div echarts [options]="gaugeOption2" style="height: 280px;" class="demo-chart"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row add-padding">
            <!-- <label for="">Material used in the Project till date</label> -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title card-title-cls">Measurment vs Payment Details</h6>
                        <table>
                            <tr class="table-h">
                                <th>MB Batch</th>
                                <th>Measurment Status</th>
                                <th>Bill Status</th>
                                <th>Payment Status</th>
                                <th>Amount Paid (Cr)</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>Batch 1</td>
                                <td>MB Approved</td>
                                <td>Bill Approved</td>
                                <td>Completed</td>
                                <td>60.53</td>
                                <td><i class="icofont-download" title="Measurment Report"></i> <i class="icofont-download" title="Bill Report" style="padding-left: 20px;"></i></td>
                            </tr>
                            <tr>
                                <td>Batch 2</td>
                                <td>MB Approved</td>
                                <td>Bill Approved</td>
                                <td>Completed</td>
                                <td>52</td>
                                <td><i class="icofont-download" title="Measurment Report"></i> <i class="icofont-download" title="Bill Report" style="padding-left: 20px;"></i></td>
                            </tr>
                            <tr>
                                <td>Batch 3</td>
                                <td>MB Approved</td>
                                <td>Bill Approved</td>
                                <td>Completed</td>
                                <td>67.47</td>
                                <td><i class="icofont-download" title="Measurment Report"></i> <i class="icofont-download" title="Bill Report" style="padding-left: 20px;"></i></td>
                            </tr>
                            <tr>
                                <td>Batch 4</td>
                                <td>MB Approved</td>
                                <td>Bill Submitted</td>
                                <td>-</td>
                                <td>-</td>
                                <td><i class="icofont-download" title="Measurment Report"></i> <i style="padding-left: 20px;">-</i></td>
                            </tr>
                            <tr>
                                <td>Batch 5</td>
                                <td>MB Submitted</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td> <i>-</i><i style="padding-left: 30px;">-</i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="row add-padding">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title card-title-cls">Project Document Library</h6>
                        <div class="row add-padding" style="padding: 10px;">
                            <table>
                                <tr>
                                    <td>LOA</td>
                                    <td>LOA.pdf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>Contract</td>
                                    <td>Contract_v.1.pdf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>Contract</td>
                                    <td>Contract_v.2.pdf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>Environmental clearance</td>
                                    <td>Environmental clearance.pdf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>Photograph</td>
                                    <td>Photograph.pdf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>GAD</td>
                                    <td>GAD.dxf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>HFD</td>
                                    <td>HFD.dxf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>Structural Design</td>
                                    <td>SD.dxf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>Bill</td>
                                    <td>RA-Bill1.pdf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                                <tr>
                                    <td>Bill</td>
                                    <td>RA-Bill2.pdf</td>
                                    <td><i class="icofont-download" title="Download"></i></td>
                                </tr>
                            </table>
                            
                    </div>
                </div>
            </div>
        </div>
        
    </div>