<section>
    <div class="container" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-10 col-md-10 heading-cls"> <span>Project Status Tracking</span></div>
        </div>
    </div>
</section>
<section id="main-section" class="search-project-dashboard" *ngIf="showProjectSearch">
    <div class="container">
        
        <div class="label-header"><h5>Search Project</h5></div>
        <div class="marginTopForFormCustomClass1">
            <form id="frmIndexPage" [formGroup]="projectFormGroup">
                <app-select-search class="property-form" [label]="'Project Type'" [placeholder]="'Select Project Type'" [optionList]="projectTypeList" formControlName="projectType"></app-select-search>
                <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Project Name'" [placeholder]="'Enter Project Name'" formControlName="projectName" [style]="''"></app-text-field>
                <app-date-picker class="property-form" [label]="'Project Start Date'" [placeholder]="'Enter Project Start Date'" formControlName="projectStartDate"></app-date-picker>
                <app-date-picker class="property-form" [label]="'Project End Date'" [placeholder]="'Enter Project End Date'" formControlName="projectEndDate"></app-date-picker>

                <div style="height: 40px;">
                    <app-button [text]="'Search'" [btnId]="'default'" (click)="onSearchProject($event)" [type]="'submit'" [style]="'float:right;margin-right:10px;'"></app-button>
                </div>
            </form>
        </div>

    </div>

</section>

<section id="search-project-table" class="search-project-table" *ngIf="showProjectList">
    <div class="container">
        <div class="label-header"><h5>Project List</h5></div>
        <div class="marginTopForFormCustomClass1">
            <button mat-button color="secondary"
            (click)="onBtExport()"
            style="margin-bottom: 5px; font-weight: bold;"
          >
            Export to Excel
          </button>
          <!-- <app-button [text]="'Export to Excel'" [btnId]="'default'" (click)="onBtExport($event)" [type]="'submit'" [style]="'margin-bottom: 5px; font-weight: bold;'"></app-button> -->
            <ag-grid-angular
                style="width: 100%; height: 50vh;"
                class="ag-theme-alpine"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [rowData]="rowData"
                [paginationAutoPageSize]="true"
                [pagination]="true"
                (gridReady)="onGridReady($event)"
            ></ag-grid-angular>
        </div>

    </div>

</section>

<!-- <section id="project-dashboard-details" class="project-dashboard-details" *ngIf="showProjectDetails">
    <div class="container" style="margin-bottom:10px;">
        <span (click)="goBack()" style="cursor: pointer;">
            <i class="icofont-arrow-left go-back" ></i>
            Back
        </span>
        
    </div>
    
    

</section> -->