.search-project-dashboard {
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-project-table {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-dashboard-details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.marginTopForFormCustomClass1 {
    margin-top: 10px;
}

.go-back:hover {
    color: #01458e;
}