/*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: #ffffff;
    height: 80px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    border-bottom: 1px solid #4b8fd35e;
    
  }
  
  #topbar.topbar-scrolled {
    top: -110px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #fff;
    transition: 0.3s;
  }
  
  #topbar .contact-info a:hover {
    text-decoration: underline;
  }
  
  #topbar .contact-info i {
    padding-right: 4px;
    margin-left: 15px;
  }
  
  #topbar .contact-info i:first-child {
    margin-left: 0;
  }
  
  #topbar .social-links a {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #fff;
  }
  

  /* logo */
  .logo {
    background-image: url('../../../../assets/images/logo2.jpg');
    background-repeat: no-repeat;
    background-size: 16% auto;
    float: left;
    line-height: 55%;
    min-height: 75px;
    padding: 0px 0 0 70px;
    /* text-transform: uppercase; */
    width: 40%;
    margin-top: 5px;
}

.logo .main_gov {
  font-size: 40%;
  display: table;
  margin-top: 6px;
    
}

.logo .sub_dept {
  font-size: 40%;
  color: #01458e;
  display: table;
  /* font-weight: 700; */
}

.logo .main_dept {
  font-size: 18px;
  font-weight: normal;
  display: table;
}

.logo .grey-text {
  color: #000;
}

.logo .brown-text {
  color: #14961e;
}
.logo2 {
    background-image: url('../../../../assets/images/logo2.jpg');
    background-repeat: no-repeat;
    background-size: 20% auto;
    float: left;
    min-height: 50px;
    line-height: 45%;
    padding: 4px 17px 10px 55px;
    width: 32%;
    margin-bottom: 0px;
}
.logo2 .main_gov {
    margin-top: 5px;
    /* font-size: 10px; */
    display: table;
    
}

.logo2 .sub_dept {
    /* font-size: 9px; */
    color: #01458e;
    display: table;
    font-weight: 700;
}

.logo2 .main_dept {
    font-size: 18px;
    font-weight: normal;
    display: table;
}

.logo2 .grey-text {
    color: #000;
}

.logo2 .brown-text {
    color: #046A38;
}

.logo2 a {
  font-size: 15px;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 0px 0;
    top: 110px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header.header-scrolled {
    top: 0;
    /* padding: 15px; */
  }
  
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family:"Open Sans", sans-serif;
  }
  
  #header .logo a {
    color: #222222;
  }
  
  #header .logo a span {
    color: #01458e;
  }
  
  #header .logo img {
    max-height: 50px;
  }
  
  @media (max-width: 992px) {
    #header {
      padding: 15px;
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
  }
  
  /*--------------------------------------------------------------
  # Login Page
  --------------------------------------------------------------*/
  
  .main {
      margin-top: 175px;
  }
  
  .btn-custom {
      padding: 6px; 
      align-items : center;
      justify-content: center;
      font-size: 14px;
      width: 160px;
      height: 40px;
      border-radius: 4px;
      background: #01458e;
      color: #fff;
      transition: all 0.4s;
      align-items: center;
  }
  
  .btn-custom:hover {
    background: #3284f1;
    color: #fff;
  }
  