<section>
    <div class="container" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-10 col-md-10 heading-cls"> <span>New Project</span></div>
        </div>
    </div>
</section>
<section id="main-section">
    <div class="container">
        
        <div>
            <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper fxLayout="column" fxFlex="100"
                fxLayoutAlign=" stretch">

                <mat-step [stepControl]="projectFormGroup">

                    <form [formGroup]="projectFormGroup">
                        <ng-template matStepLabel>Field Details</ng-template>
                        <app-text-area class="property-form" [label]="'Project Name'"
                            [placeholder]="'Enter Project Name'" formControlName="projectName"
                            [style]="'width:100%;'"></app-text-area>
                       
                        <app-select-search class="property-form" [label]="'Project Type'"
                            [placeholder]="'Select Project Type'" [optionList]="projectTypeList"
                            formControlName="projectType"></app-select-search>
                        <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form"
                            [label]="'Project Value'" [placeholder]="'Enter Project Value'"
                            formControlName="projectValue" [style]="''"></app-text-field>
                        
                        <app-select-search class="property-form" [label]="'Circle'" [placeholder]="'Select Circle'"
                            [optionList]="circleList" formControlName="circle"></app-select-search>
                        <app-select-search class="property-form" [label]="'Division'" [placeholder]="'Select Division'"
                            [optionList]="divisionList" formControlName="division"></app-select-search>

                        <app-date-picker class="property-form" [label]="'Project Start Date'"
                            [placeholder]="'Enter Start Date'" formControlName="projectStartDate"></app-date-picker>
                        <app-date-picker class="property-form" [label]="'Project End Date'"
                            [placeholder]="'Enter End Date'" formControlName="projectEndDate"></app-date-picker>
                        

                        
                        <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form"
                            [label]="'Name of Executing Agency'" [placeholder]="'Enter Name of Executing Agency'"
                            formControlName="contractorName" [style]="''"></app-text-field>
                        <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form"
                            [label]="'Contact Person'" [placeholder]="'Enter Contact Person'"
                            formControlName="contactPerson" [style]="''"></app-text-field>

                        <app-text-area class="property-form" [label]="'Registered Address of Executing Agency'"
                            [placeholder]="'Enter Registered Address of Executing Agency'"
                            formControlName="registeredAddress" [style]="'width:100%'"></app-text-area>
                        

                        <div>
                            <button mat-button matStepperNext color="primary" (click)="saveandnext('address')">Save &
                                Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="milestoneFormGroup">
                    <ng-template matStepLabel>Milestone</ng-template>
                    
                    <form [formGroup]="milestoneFormGroup">
                        <app-edit-road (changeMilestone)="onChangeMilestone($event)"></app-edit-road>
                        <input type="text" hidden formControlName="totalMilestone" required>
                        
                        <div>
                            <button mat-button matStepperNext color="primary" (click)="saveandnext('Milestone')">Save &
                                Next</button>
                            <button mat-button matStepperPrevious color="secondary">Back</button>
                        </div>
                    </form>
                    
                </mat-step>
                <mat-step [stepControl]="authorityFormGroup">
                    <ng-template matStepLabel>Authority Details</ng-template>
                    <form [formGroup]="authorityFormGroup">
                        <div class="form-group row">
                            <div class="col-sm-3" style="margin-top: 10px;">
                                <mat-label class="col-form-label">Name of RoW Authority</mat-label>
                            </div>
                            <div class="col-sm-9">
                                <div *ngFor="let interest of authorityList; let i = index" style="display:inline-block;">
                                    <mat-checkbox class="example-margin" [color]="'success'"
                                    (change)="onChange($event)" [value]="interest">{{interest}}</mat-checkbox>
                                </div>
                            </div>

                        </div>
                        
                        

                        <!-- <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form"
                            [label]="'Name of RoW Authority'" [placeholder]="'Enter Name of RoW Authority'"
                            formControlName="rowAuthorityName" [style]="'width:100%'"></app-text-field> -->
                        <div class="form-group row" style="margin-top:30px;">
                            <label for="filename1" class="col-sm-3 col-form-label">Upload Contract Agreement</label>
                            <div class="col-sm-7">
                                <input type="text" name="filename1" class="form-control"
                                    formControlName="contractorAgrFile" placeholder="No file selected" 
                                    [ngClass]="{'error_class': submitted && authorityFormGroup.controls.contractorAgrFile.errors?.required}"readonly>
                                    
                                    <mat-error *ngIf="submitted && authorityFormGroup.controls.contractorAgrFile.errors?.required">
                                        This field is <strong>required</strong>
                                    </mat-error>
                            </div>
                            <span class="col-sm-2 input-group-btn">
                                <div class="btn btn-outline-secondary custom-file-uploader">
                                    Select a file
                                    <input type="file" name="file" (change)="onContractAgrUpload($event)" />

                                </div>
                            </span>
                        </div>
                        <div>
                            <button mat-button matStepperNext color="primary" (click)="saveandnext('authority')">Save &
                                Next</button>
                            <button mat-button matStepperPrevious color="secondary">Back</button>
                        </div>
                    </form>



                </mat-step>




                <mat-step>

                    <ng-template matStepLabel>Summary</ng-template>

                    <app-project-summary [formDetails]="formDetails"></app-project-summary>

                    <div>
                        <div>
                            <mat-checkbox class="example-margin" [(ngModel)]="isConsentChecked">

                                I hereby declare and affirm that the above-furnished information is true and correct and
                                nothing has been concealed therefrom.

                            </mat-checkbox>

                        </div>

                        <button mat-button matStepperNext mat-raised-button color="primary"
                            [disabled]="!isConsentChecked" (click)="onSubmitForm()">Submit</button>
                        <button mat-button matStepperPrevious color="secondary">Back</button>
                    </div>
                </mat-step>



            </mat-horizontal-stepper>
        </div>
    </div>
</section>