<section>
    <div class="container" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-10 col-md-10 heading-cls"> <span>D&D Creation</span></div>
        </div>
    </div>
</section>
<section id="main-section">
    <div>
        <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper fxLayout="column" fxFlex="100" fxLayoutAlign=" stretch">
              
            <mat-step [stepControl]="projectFormGroup">
                <ng-template matStepLabel>Project Details</ng-template>

                <form [formGroup]="projectFormGroup">
                    <div class="label-header"><h5>Search Project</h5></div>
                    <app-select-search class="property-form" [label]="'Project Type'" [placeholder]="'Select Project Type'" [optionList]="projectTypeList" formControlName="projectType"></app-select-search>
                    <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form"
                    [label]="'Project Name'" [placeholder]="'Enter Project Name'"
                    formControlName="projectName" [style]="''"></app-text-field>
                    <app-select-search class="property-form" [label]="'Circle'" [placeholder]="'Select Circle'"
                        [optionList]="circleList" formControlName="circle"></app-select-search>
                    <app-select-search class="property-form" [label]="'Division'" [placeholder]="'Select Division'"
                        [optionList]="divisionList" formControlName="division"></app-select-search>
                    <!-- <input type="text" hidden formControlName="uniquePropertyId"> -->
                  <!-- <button mat-button color="warn" (click)="onSearchProperty()" style="margin-top: 18px;">Search</button> -->
                  <span style="padding-left:10px;">Project Status: <b>Approved</b></span>
                  <app-button [text]="'Search'" [btnId]="'default'" (click)="onSearchProperty()" [type]="'submit'" [style]="'float:right;'"></app-button>

                  <br/>
                  <div *ngIf="showPropertyDetails" style="padding-top:20px;">
                    <h4 style="padding-left:10px;">Project Details</h4>
                    <div class="row" style="padding: 10px;">

                        <div class="col-sm-6 col-md-6 font-w-600">
                            Project Name:
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{selectedProperty.projectName}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Project Type:
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{selectedProperty.projectType}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Circle
                        </div>
                        <div class="col-sm-6 col-md-6 ">
                            {{selectedProperty.circle}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Division
                        </div>
                        <div class="col-sm-6 col-md-6 ">
                            {{selectedProperty.division}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Project Start Date
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{getDate(selectedProperty.projectStartDate)}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Project End Date
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{getDate(selectedProperty.projectEndDate)}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Project Value
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{selectedProperty?.projectValue}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Executing Agency
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{selectedProperty?.executingAgency}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Contact Person
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{selectedProperty?.contactPerson}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Registered Address
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{selectedProperty?.registeredAddress}}
                        </div>
                        <div class="col-sm-6 col-md-6 font-w-600">
                            Status
                        </div>
                        <div class="col-sm-6 col-md-6">
                            Approved
                        </div>
                        
                    </div>
                    <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Name of Design cell Nodal Officer'" [placeholder]="'Enter Name of Design cell Nodal Officer'" formControlName="nodalOfficerName" [style]="''"></app-text-field>
                    <app-text-field [isReadOnly]="'false'" [type]="'tel'" [maxlength]="100" class="property-form" [label]="'Mobile No of Design cell Nodal Officer'" [placeholder]="'Enter Mobile No of Design cell Nodal Officer'" formControlName="nodalOfficerMobileNo" [style]="''"></app-text-field>
                    <app-text-field [isReadOnly]="'false'" [type]="'email'" [maxlength]="100" class="property-form" [label]="'Email address of Design cell Nodal Officer'" [placeholder]="'Enter Email address of Design cell Nodal Officer'" formControlName="nodalOfficerEmail" [style]="''"></app-text-field>
                      
                  </div>
                  <br/>
                      
                  <div *ngIf="showPropertyDetails">
                    
                    <button mat-button matStepperNext color="primary" (click)="saveandnext('property_details')">Save & Next</button>
                  </div>
                </form>


                <!-- <form [formGroup]="projectFormGroup" >
                    <div class="ddCls">
                        <app-select-search class="property-form" [label]="'Project Type'" [placeholder]="'Select Project Type'" [optionList]="projectTypeList" formControlName="projectType"></app-select-search>
                        <app-select-search class="property-form" [label]="'Select Project'" [placeholder]="'Select Project'" [optionList]="projectList" formControlName="projectName"></app-select-search>
                        <app-text-field [isReadOnly]="'false'" [maxlength]="100" class="property-form" [label]="'Name of Design cell Nodal Officer'" [placeholder]="'Enter Name of Design cell Nodal Officer'" formControlName="nodalOfficerName" [style]="''"></app-text-field>
                        <app-text-field [isReadOnly]="'false'" [type]="'tel'" [maxlength]="100" class="property-form" [label]="'Mobile No of Design cell Nodal Officer'" [placeholder]="'Enter Mobile No of Design cell Nodal Officer'" formControlName="nodalOfficerMobileNo" [style]="''"></app-text-field>
                        <app-text-field [isReadOnly]="'false'" [type]="'email'" [maxlength]="100" class="property-form" [label]="'Email address of Design cell Nodal Officer'" [placeholder]="'Enter Email address of Design cell Nodal Officer'" formControlName="nodalOfficerEmail" [style]="''"></app-text-field>
                        <app-select-search class="property-form" [label]="'Select Executing Agency'" [placeholder]="'Select Executing Agency'" [optionList]="executingAgencyList" formControlName="executingAgency"></app-select-search>
                        
                    </div>
                    <div>
                        <button mat-button matStepperNext color="primary"  (click)="saveandnext('field')">Save & Next</button>
                      </div>
                </form> -->
            </mat-step>
            <mat-step [stepControl]="gdaFormGroup">
                <ng-template matStepLabel>GAD Details</ng-template>
                <form [formGroup]="gdaFormGroup" >
                    <div class="ddCls">
                        <mat-slide-toggle formControlName="isGDASubmitted" style="width:30%;">GAD Submitted</mat-slide-toggle>
                        <app-date-picker class="property-form" [label]="'GAD Submission Date'" [style]="'width:60%;'" [placeholder]="'Enter GAD Submission Date'" formControlName="GDASubmissionDate"></app-date-picker>
                        
                        <mat-slide-toggle formControlName="isGDAApproved" style="width:30%;">GAD Approved</mat-slide-toggle>
                        <app-date-picker class="property-form" [label]="'GAD Approval Date'" [style]="'width:60%;'" [placeholder]="'Enter GAD Approval Date'" formControlName="GDAApprovalDate"></app-date-picker>
                
                        <div class="form-group row" style="margin-top:30px;">
                            <label for="filename1" class="col-sm-3 col-form-label" style="width:30%">Upload Document(GAD)</label>
                            <div class="col-sm-7" style="width:47%">
                                <input type="text" name="filename1" class="form-control" [ngClass]="{'error_class': gdaSubmitted && gdaFormGroup.controls.GDA_File.errors?.required}" formControlName="GDA_File" placeholder="No file selected" readonly>
                                <mat-error *ngIf="gdaSubmitted && gdaFormGroup.controls.GDA_File.errors?.required">
                                    This field is <strong>required</strong>
                                </mat-error>
                            </div>
                            <span  class="col-sm-2 input-group-btn">
                                <div class="btn btn-outline-secondary custom-file-uploader">
                                    Select a file
                                <input type="file" name="file" (change)="onUploadGDADoc($event)" />
                                
                                </div>
                            </span>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperNext color="primary"  (click)="saveandnext('GDA')">Save & Next</button>
                        <button mat-button matStepperPrevious color="secondary" >Back</button>

                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="hfdFormGroup">
                <ng-template matStepLabel>HFD Details</ng-template>
                <form [formGroup]="hfdFormGroup" >
                    <div class="ddCls">
                        <mat-slide-toggle formControlName="isHFDSubmitted" style="width:30%;">HFD Submitted</mat-slide-toggle>
                        <app-date-picker class="property-form" [label]="'HFD Submission Date'" [style]="'width:60%;'" [placeholder]="'Enter HFD Submission Date'" formControlName="HFDSubmissionDate"></app-date-picker>

                        <mat-slide-toggle formControlName="isHFDApproved" style="width:30%;">HFD Approved</mat-slide-toggle>
                        <app-date-picker class="property-form" [label]="'HFD Approval Date'" [style]="'width:60%;'" [placeholder]="'Enter HFD Approval Date'" formControlName="HFDApprovalDate"></app-date-picker>

                        <div class="form-group row" style="margin-top:30px;">
                            <label for="filename1" class="col-sm-3 col-form-label" style="width:30%">Upload Document(HFD)</label>
                            <div class="col-sm-7" style="width:47%">
                                <input type="text" name="filename1" class="form-control" [ngClass]="{'error_class': hfdSubmitted && hfdFormGroup.controls.HFD_File.errors?.required}" formControlName="HFD_File" placeholder="No file selected" readonly>
                                <mat-error *ngIf="hfdSubmitted && hfdFormGroup.controls.HFD_File.errors?.required">
                                    This field is <strong>required</strong>
                                </mat-error>
                            </div>
                            <span  class="col-sm-2 input-group-btn">
                                <div class="btn btn-outline-secondary custom-file-uploader">
                                    Select a file
                                <input type="file" name="file" (change)="onUploadHFDDoc($event)" />
                                
                                </div>
                            </span>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperNext color="primary"  (click)="saveandnext('HFD')">Save & Next</button>
                        <button mat-button matStepperPrevious color="secondary" >Back</button>

                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="structuralFormGroup">
                <ng-template matStepLabel>Structural Design Details</ng-template>
                <form [formGroup]="structuralFormGroup" >
                    <div class="ddCls">
                        <mat-slide-toggle formControlName="isStructuralDesignSubmitted" style="width:30%;">Structural Design Submitted</mat-slide-toggle>
                        <app-date-picker class="property-form" [label]="'Design Submission Date'" [style]="'width:60%;'" [placeholder]="'Enter Design Submission Date'" formControlName="structuralDesiginSubmissionDate"></app-date-picker>
                        <mat-slide-toggle formControlName="isStructuralDesignApproved" style="width:30%;">Structural Design Approved</mat-slide-toggle>
                        <app-date-picker class="property-form" [label]="'Design Approval Date'" [style]="'width:60%;'" [placeholder]="'Enter Design Approval Date'" formControlName="structuralApprovalDate"></app-date-picker>

                        <div class="form-group row" style="margin-top:30px;">
                            <label for="filename1" class="col-sm-3 col-form-label" style="width:30%">Upload Document(Structural)</label>
                            <div class="col-sm-7" style="width:47%">
                                <input type="text" name="filename1" class="form-control" [ngClass]="{'error_class': structuralSubmitted && structuralFormGroup.controls.structuralDocFile.errors?.required}" formControlName="structuralDocFile" placeholder="No file selected" readonly>
                                <mat-error *ngIf="structuralSubmitted && structuralFormGroup.controls.structuralDocFile.errors?.required">
                                    This field is <strong>required</strong>
                                </mat-error>
                                <!-- <span class="select-file-txt btn btn-outline-secondary">Select a file</span> -->
                            </div>
                            <span  class="col-sm-2 input-group-btn">
                                <div class="btn btn-outline-secondary custom-file-uploader">
                                    Select a file
                                <input type="file" name="file" (change)="onUploadStructuralDoc($event)" />
                                
                                </div>
                            </span>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperNext color="primary"  (click)="saveandnext('structural')">Save & Next</button>
                        <button mat-button matStepperPrevious color="secondary" >Back</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>

                <ng-template matStepLabel>Summary</ng-template>

                <app-d-and-d-summary [formDetails]="formDetails"></app-d-and-d-summary>

                <div>
                    <div>
                        <mat-checkbox class="example-margin" [(ngModel)]="isConsentChecked">

                            I hereby declare and affirm that the above-furnished information is true and correct and
                            nothing has been concealed therefrom.

                        </mat-checkbox>

                    </div>

                    <app-button [text]="'Submit'" [btnId]="'primary'" (click)="onSubmitDnD()" [type]="'submit'" [style]="'float:right;'"></app-button>
                    <app-button [text]="'Save as draft'" [btnId]="'default'" (click)="onSaveDnD()" [type]="'submit'" [style]="'float:right;margin-right:10px;'"></app-button>
                    <button mat-button matStepperPrevious color="secondary" [style]="'margin-top: 0px;'">Back</button>

                    <!-- <button mat-button matStepperNext mat-raised-button color="primary"
                        [disabled]="!isConsentChecked" (click)="onSubmitForm()">Submit</button>
                    <button mat-button matStepperPrevious color="secondary">Back</button> -->
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</section>

<div class="modal" id="myPropertyModal" style="background: rgba(0, 0, 0, 0.7);" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">Search Result</h3>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div>
                <div class="row" *ngIf="properties && properties.length>0" style="padding: 20px;">
                    <div class="card my-app-card" *ngFor="let property of properties" style="background: aliceblue; margin-top: 20px;">
                        <div class="card-body"> 
                            <div class="row">
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Project Name:
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{property.projectName}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Project Type:
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{property.projectType}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Circle
                                </div>
                                <div class="col-sm-6 col-md-6 ">
                                    {{property.circle}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Division
                                </div>
                                <div class="col-sm-6 col-md-6 ">
                                    {{property.division}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Project Start Date
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{getDate(property.projectStartDate)}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Project End Date
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{getDate(property.projectEndDate)}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Project Value
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{property?.projectValue}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Executing Agency
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{property?.executingAgency}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Contact Person
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{property?.contactPerson}}
                                </div>
                                <div class="col-sm-6 col-md-6 font-w-600">
                                    Registered Address
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    {{property?.registeredAddress}}
                                </div>
                            </div>
                            <div style="padding-top: 20px; float: right">
                                <app-button [text]="'Select'" [btnId]="'primary'" (click)="onSelectProperty(property)"></app-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="properties && properties.length==0" style="padding: 20px;">
                    <div class="card my-app-card" style="background: aliceblue; margin-top: 20px;">
                        <div class="card-body"> 
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
            <app-button [type]="'submit'" value="Submit" [text]="'Continue'" [btnId]="'primary'" [style]="'width: 100%'" (click)="onSubmit($event)"></app-button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
