.counts {
    padding: 40px 0 0 0;
  }
  
  .counts .count-box2 {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    cursor: pointer;
  }
  
  .counts .count-box2 i {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #01458e;
    padding: 12px;
    color: #fff;
    border-radius: 50px;
    border: 5px solid #fff;
  }
  
  .counts .count-box2 span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
  }
  
  .counts .count-box2 p {
    padding: 18px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

  